<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/detail_style.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap"
      rel="stylesheet"
    />

  </head>
  <body class="page">
    <div class="topnav">
      <a class="logo" href="#home">LOGO</a>
    </div>

    <div class="application-box">
      <div class="application-details">
        <div class="image col-2">
          <img src="/images/eg_app.png" style="width:100px" />
        </div>
        <div class="box_format col-2">
          <h1 id="box_format_head">Angry Birds</h1>
          <h3 id="app_desc">Everyone (age restriction)</h3>
          <h3 id="app_desc">3.5 Ratings</h3>
        </div>
        <hr id="app_desc" />
        <div class="box_format">
          <h2 id="box_format_head">Description</h2>
          <p id="app_desc">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis
            quibusdam officia error repellendus nisi eligendi. Vero ipsam labore
            reiciendis quis a temporibus fuga voluptatibus quasi, facilis velit
            accusantium cumque magni... Read more
          </p>
        </div>
        <hr id="app_desc" />

        <div class="big_half_box">
          <div class="half_box">
            <h2 id="head_down">What's new</h2>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis
              quibusdam officia error repellendus nisi eligendi. Vero ipsam
              labore reiciendis quis a temporibus fuga voluptatibus quasi,
              facilis velit accusantium cumque magni... Read more
            </p>
          </div>
          <div class="half_box" style="text-align: center;">
            <h2 id="head_down">Download</h2>
            <img src="/images/appstore.png" class="download_button"/>
            <img src="/images/playstore.png" class="download_button"/>
        </div>
        </div>

        <hr id="app_desc" />

        <div class="box_format">
            <h2 id="box_format_head">Preview</h2>
            <div class="preview-box" style="margin-top: 1rem;">
                <img class= "preview-img" src="/images/IMG_0594.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
                <img class= "preview-img" src="/images/IMG_0595.PNG" style="width:250px" />
           
            </div>
        </div>      
        <hr id="app_desc" />

        
        <div class="box_format">
            <h2 id="box_format_head">Ratings</h2>
            <div class="half_rating">
                <h1 class="big_rating">3.5</h1>
                <h3 id="outOf"> out of 5</h3>
            </div>
            
        </div>

      </div>
    </div>

    <!-- 
    <div class="container ">

      <div class="row detail-content">

        <div class="col-sm-4">
          test
        </div>
        <div class="col-sm-6">
          test
        </div>
      </div>

    </div> -->
   
  </body>
</html>
