<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <% data.forEach((data) => { %>
      <div><%= data['App_name'] %></div>
    <% }) %>
  </body>
</html>
