<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/javascripts/index.js"></script>
  <link rel="stylesheet" href="animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Sulphur+Point&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma" rel=stylesheet>
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href='/stylesheets/index.css' />
  <title>Application Marketplace</title>
</head>

<body class="chfont bg">

  <!--banner-->
  <div class="container-fluid w3-section">
    <img class="mySlides w3-animate-fading" id="banner" alt="Lights" width=100% src="/images/banner.jpg">
    <div class="w3-display-topmiddle w3-text-white w3-jumbo" id="apptitle">APP MARKETPLACE</div>
    <div class="w3-display-bottommiddle d-flex">
      <div class="searchbar w3-animate-top">
        <input class="search_input" type="text" name="" placeholder="Search...">
        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
      </div>
    </div>
  </div>

  <!--category carousel-->
  <div class="container">
    <div class="row">
      <div class="text-category">
        <br /><br /><br />
        <p>Category</p>
      </div>
      <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel" data-interval="1000">
        <div class="MultiCarousel-inner">
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Action</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Adventure</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Board</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Educational</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Family</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Music</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Racing</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Sports</p>
              </a>
            </div>
          </div>
          <div class="item">
            <div class="pad15">
              <a href="/">
                <p class="lead">Word</p>
              </a>
            </div>
          </div>
          <hr />
        </div>
        <button class="btn btn-primary leftLst"></button>
        <button class="btn btn-primary rightLst"></button>
      </div>
    </div>


</body>

</html>