body {
    width: 100%;
}
.page {
    background-color: #666666;
    /* font-family: 'Sulphur Point', sans-serif; */
    min-width: 60%;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sulphur Point', sans-serif;
    color: whitesmoke;
}

.topnav {
    background-color: #222222;
    display: flex;
}

.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.main_box {
    max-width: 800px;
    margin: auto;
}

nav {
    float: left;
    width: 30%;
    height: 300px;
    background: #ccc;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

.application-box {
    margin: auto;
    width: auto;
    background-color: #444444;
    max-width: 80%;
}

.application-details {
    padding: 2rem;
}

.whats-new {
    padding: 20px;
    float: left;
    width: 200px;
    height: 300px;
    background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0, 0, 0, 0.02) 50%, rgba(255, 255, 255, 0.02) 61%, rgba(0, 0, 0, 0.02) 73%), linear-gradient(33deg, rgba(255, 255, 255, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%);
    background-blend-mode: normal, color-burn;
    ;
}

.sidebar_right {
    padding: 20px;
    width: 200px;
    height: 300px;
    background-color: #444444;
}

/* .detail-content {} */

.image {
    display: inline-block;
}

.box_format {
    padding: 1rem;
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: whitesmoke;
}

.half_rating {
    display: inline-flex;
}

#head_down {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.half_box {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    max-width: 70%;
}

#box_format_head {
    margin: top 0.5rem;
    color: whitesmoke;
}

.download_button{
    width: 6rem;
}

#app_desc {
    margin-top: 0.5rem;
}

.big_half_box {
    padding: 1.5rem;
    display: inline-flex;
    color: whitesmoke;

}

.preview-box {
    display: inline-flex;
    overflow-x: scroll;
    white-space: nowrap;
    width: auto;
    max-width: 65rem;
    min-width: 65rem;
}

.preview-img {
    margin-right: 0.5rem;
}

.big_rating {
    padding-top: 0.5rem;
    padding-inline-start: 1rem;
    font-size: 69px;
}

#outOf {
    align-self: flex-end;
    margin-bottom: 0.7rem;
    margin-left: 0.5rem;
}